$branco-neutro: #fff;
$destaque-efeito: #FFD700;
$azul-primario: #0077ff;
$azul-secundario: #013168;
$azul-tenerciario: #57a5ff;
$preto-primario: #4e4e4e;
$background-color: #f5faff;
$gradiente-primario: linear-gradient(20deg, #ffffff69 10%, #0077ff);

