@import "reset";
@import "colors";
@import "fonts";
@import url("font-awesome/css/fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@mixin max-width {
  margin: 0 auto;
  max-width: 130rem;
  padding: 10rem 1rem;
}

//Esconder botão menu-mobile em desktop
#btn-menu, .menu-social-mobile {
  display: none;
} 

.scrollup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: fixed;
  background-color: $azul-secundario;
  top: 96%;
  left: 2%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  transition: 0.3s;

  animation: showscrollupIn 2s forwards;

  .icon {
    font-size: 3rem;
    color: $branco-neutro;
  }

  @keyframes showscrollupIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.pcx-nav {
  position: relative;

  #nav {
    margin: 0 auto;
    max-width: 120rem;
    z-index: 999;
    position: absolute;
    width: 100%;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    align-items: center;
    justify-content: space-between;
    background-color: #013168;
    -webkit-box-shadow: 0px 25px 40px -20px #00000080;
    -moz-box-shadow: 0px 25px 40px -20px #00000080;
    box-shadow: 0px 25px 40px -20px #00000080;

    .logo {
      a {
        margin-left: 35px;
        font-size: 5rem;
        font-weight: bolder;
        color: $branco-neutro;
      }
    }

    .menus {
      display: flex;
      align-items: center;
    }

    .menu-base {
      a {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: lighter;
        font-size: 1.8rem;
        color: $branco-neutro;
        user-select: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-color: $branco-neutro;
          height: 1.5px;
          width: 0;
          left: 0;
          bottom: -10px;
          z-index: 999;
          transition: 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }

      ul {
        display: flex;
        align-items: center;
      }

      li {
        padding: 15px 15px;
        margin: 5px;
      }
    }

    .menu-social {
      border-left: 1px solid;
      padding-left: 20px;
      color: rgba(255, 255, 255, 0.15);

      a {
        font-size: 2.5rem;
        color: $branco-neutro;
        transition: 0.5s;

        &:hover {
          color: #ffd700;
        }
      }

      ul {
        display: flex;
        align-items: center;
      }

      li {
        padding: 10px 0;
        margin: 5px;
      }

      li:last-child {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    #nav {
      max-width: 90%;
      height: 80px;

      .logo a {
        margin: 0 30px;
      }
    }

    #btn-menu {
      display: flex;
      padding: 2.5rem 2rem;
      border: none;
      background: none;
      cursor: pointer;
    }

    #menu {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position: absolute;
      height: 0;
      right: 0;
      top: 79px;
      width: 100%;
      visibility: hidden;
      background-color: $azul-secundario;
      padding: 0 3rem;
      transition: 0.5s;
      overflow-x: hidden;
      overflow-y: hidden;

      li {
        padding: 25px 45px;
        margin: 5px;
        text-align: left;
        width: 100%;
        transition: 0.4s;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        a {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: lighter;
          font-size: 1.8rem;
          color: $branco-neutro;
          user-select: none;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            background-color: $branco-neutro;
            height: 1.5px;
            width: 0;
            left: 0;
            bottom: -10px;
            z-index: 999;
            transition: 0.3s;
          }

          &:hover::after {
            width: 100%;
          }
        }

        &:hover {
          background-color: $azul-tenerciario;
        }
      }
    }

    #nav.active-menu #menu {
      height: calc(95vh - 80px);
      visibility: visible;
    }

    #hamburguer {
      border-top: 2px solid;
      width: 20px;
      color: $branco-neutro;

      &::after,
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
    }

    #nav.active-menu #hamburguer {
      border-top-color: transparent;

      &::after {
        transform: rotate(-135deg);
        top: -7px;
      }

      &::before {
        transform: rotate(135deg);
      }
    }

    .menu-social {
      display: none;
    }

    .menu-social-mobile {
      display: block;
      position: absolute;
      bottom: 0;

      h1 {
        color: $branco-neutro;
        text-transform: uppercase;
      }

      li {
        border-bottom: none !important;

        a {
          font-size: 3.5rem !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    #nav {
      height: 40px;
    }

    #menu {
      top: 40px;
    }

    #nav.active-menu #menu {
      height: calc(95vh - 80px);
    }

    .logo a {
      font-size: 3rem !important;
    }
  }
}

.pcx-hea {
  .for {
    @include max-width;
    position: relative;
    top: -10rem;

    .fform {
      background-color: #013168;
      display: flex;
      position: relative;
      justify-content: space-evenly;
      z-index: 1;
      height: 35rem;
      max-width: 120rem;
      align-items: flex-end;

      -webkit-box-shadow: 0px 25px 40px -20px #00000080;
      -moz-box-shadow: 0px 25px 40px -20px #00000080;
      box-shadow: 0px 25px 40px -20px #00000080;

      .fform-text {
        position: absolute;
        top: 0;
        left: 0;
        padding: 4rem 6rem;

        h1 {
          color: $branco-neutro;
          padding-bottom: 1rem;
          font-size: 5rem;
        }

        p {
          color: $branco-neutro;
        }
      }

      .fname,
      .fmail,
      .fempr,
      .fselect {
        height: 65px;
        padding-bottom: 15rem;

        #inputname,
        #inputmail,
        #inputempr,
        #inputselect {
          width: 32rem;
          height: 5rem;
          outline: none;
          border: none;
          padding: 10px;
          text-transform: uppercase;
          font-size: 1.2rem;
        }
      }
    }

    .finfos {
      padding: 10px 15px;
      position: absolute;
      z-index: 99999;
    }

    button {
      padding: 10px 15px;
      position: absolute;
      z-index: 99999;
      right: 0;
      text-transform: uppercase;
      border: none;
      outline: none;
      background-color: $azul-tenerciario;
      color: $branco-neutro;
      font-size: 1.6rem;
      cursor: pointer;
    }
  }

  .con {
    background: $gradiente-primario;
    background-size: cover;
    object-fit: cover;
    box-shadow: 0px 25px 40px -20px #00000080;

    position: relative;
    height: calc(100vh - 67px);
    overflow: hidden;
    z-index: 1;
  }

  @media (max-width: 1024px) {
    .for {
      .fform {
        max-width: 90% !important;
        margin: 0 auto;
        height: 50rem;
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
        justify-content: flex-end;

        .fname,
        .fmail,
        .fselect {
          padding-bottom: 0 !important;
          width: 90% !important;
        }

        #inputname,
        #inputmail,
        #inputselect {
          width: 100% !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
  }
}

.pcx-com {
  @include max-width;

  .comp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .left-comp {
      height: 65rem;

      .info-title {
        h1 {
          display: none;
          font-size: 5rem;
          color: $preto-primario;
        }

        p {
          width: 60rem;
          font-size: 5rem;
          color: $preto-primario;
          mark {
            background: none;
            color: $azul-secundario;
          }
        }
      }

      .accordion-wrapper {
        width: 60rem;

        .accordion {
          background-color: $background-color;
          color: #444;
          cursor: pointer;
          padding: 18px;
          margin: 10px;
          width: 90%;
          border: none;
          text-align: left;
          border-radius: 5px;
          outline: none;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          transition: 0.4s;
          display: flex;
          left: 26rem;
          align-items: center;

          position: relative;
          top: 50%;
          left: 44%;
          transform: translate(-50%, 50%);

          .accordion-icon {
            color: $azul-secundario;
            font-size: 3rem;
            padding-right: 1rem;
          }

          &.active,
          .accordion:hover {
            background-color: #ccc;
            box-shadow: 0px 20px 40px -20px #00000050;
          }

          i {
            color: $preto-primario;
          }
        }

        .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;

          label {
            display: block;
            position: relative;
            /* margin: 0 auto; */
            padding-top: 50px;
            width: 50rem;
            /* height: 550px; */
            perspective: 1000px;
            transform-style: preserve-3d;

            input {
              display: none;
            }

            p {
              color: $preto-primario;
            }
          }
        }
      }
    }

    .right-comp {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .video-player {
        padding: 2rem;
        position: relative;

        .pulse {
          width: 100px;
          height: 100px;
          background-color: $branco-neutro;
          border-radius: 50%;
          position: absolute;
          display: flex;
          align-content: center;
          justify-content: center;
          align-items: center;
          top: 50%;
          left: 50%;
          z-index: 5;
          transform: translate(-50%, -50%);

          .icon-play {
            font-size: 5rem;
            color: $azul-tenerciario;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
          }

          &::after {
            content: "";
            width: 150px;
            height: 150px;
            background-color: $azul-tenerciario;
            position: absolute;
            border-radius: 50%;
            background: none;
            border: 3px solid $branco-neutro;
            z-index: -1;
            animation: pulseCicle 2s infinite;
          }

          &::before {
            content: "";
            width: 200px;
            height: 200px;
            background-color: $azul-tenerciario;
            position: absolute;
            border-radius: 50%;
            background: none;
            border: 3px solid $branco-neutro;
            z-index: -1;
            animation: pulseCicle 2s infinite;
            animation: name duration timing-function delay iteration-count direction fill-mode;
          }

          @keyframes pulseCicle {
            0% {
              transform: scale(0);
              opacity: 1;
            }
            100% {
              transform: scale(1);
              opacity: 0;
            }
          }
        }

        img {
          width: 50rem;
          height: auto;
          border-radius: 1rem;
          box-shadow: 0px 25px 40px -20px #00000080;
        }
      }

      .image-container {
        width: 540px;
        height: 650px;
        margin: 0 auto;
        position: absolute;
        z-index: -1;

        .img1 {
          img {
            width: 15rem;
            height: auto;
            background-color: #fff;
            position: absolute;
            top: 3%;
            left: 0%;
            transform: translate(-50%, -50%);
            animation: moving-img1 4s ease-in-out infinite alternate;
            opacity: 0.2;
            border-radius: 5px;

            @keyframes moving-img1 {
              0% {
                transform: translateY(0);
              }
              100% {
                transform: translateY(5rem);
              }
            }
          }
        }

        .img2 {
          img {
            width: 20rem;
            height: auto;
            background-color: #fff;
            position: absolute;
            top: 55%;
            left: 72%;
            transform: translate(-50%, -50%);
            animation: moving-img2 8s ease-in-out infinite alternate;
            opacity: 0.2;
            border-radius: 5px;

            @keyframes moving-img2 {
              0% {
                transform: translateY(-15rem);
              }
              100% {
                transform: translateY(10rem);
              }
            }
          }
        }

        .img3 {
          img {
            width: 15rem;
            height: auto;
            background-color: #fff;
            position: absolute;
            top: 35%;
            left: 35%;
            transform: translate(-50%, -50%);
            animation: moving-img3 4s ease-in-out infinite alternate;
            opacity: 0.2;
            border-radius: 5px;

            @keyframes moving-img3 {
              0% {
                transform: translateY(5rem);
              }
              100% {
                transform: translateY(-5rem);
              }
            }
          }
        }

        .img4 {
          img {
            width: 25rem;
            height: auto;
            background-color: #fff;
            position: absolute;
            top: 5%;
            left: 40%;
            transform: translate(-50%, -50%);
            animation: moving-img1 8s ease-in-out infinite alternate;
            opacity: 0.2;
            border-radius: 5px;

            @keyframes moving-img4 {
              0% {
                transform: translateY(-5rem);
              }
              100% {
                transform: translateY(5rem);
              }
            }
          }
        }

        .img5 {
          img {
            width: 15rem;
            height: auto;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: -10%;
            transform: translate(-50%, -50%);
            animation: moving-img3 8s ease-in-out infinite alternate;
            opacity: 0.2;
            border-radius: 5px;

            @keyframes moving-img3 {
              0% {
                transform: translateY(0);
              }
              100% {
                transform: translateY(15rem);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .comp {
      flex-direction: column;
      align-items: center;

      .right-comp {
        padding-top: 15rem;
      }
    }
  }
}

.pcx-inf {
  background-color: #f5faff;
  height: 175rem;

  .infos {
    @include max-width;
    position: relative;

    .info-title {
      h1 {
        color: $preto-primario;
        font-size: 5rem;
        text-align: center;
        user-select: none;
      }

      p {
        color: $preto-primario;
        font-size: 5rem;
        text-align: center;
        padding-bottom: 7rem;
        user-select: none;

        mark {
          background: none;
          color: $azul-secundario;
        }
      }
    }

    .grid-infos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
      grid-template-rows: repeat(3, 1fr);
      gap: 50px 30px;
      padding: 0 1rem;
      grid-auto-flow: row;
      grid-template-areas:
        "card1 card2 card3"
        "card4 card5 card6"
        "card7 card7 card7";

      .card1 {
        grid-area: card1;
      }

      .card2 {
        grid-area: card2;
      }

      .card3 {
        grid-area: card3;
      }

      .card4 {
        grid-area: card4;
      }

      .card5 {
        grid-area: card5;
      }

      .card6 {
        grid-area: card6;
      }

      .card7 {
        grid-area: card7;
      }

      .card1,
      .card2,
      .card3,
      .card4,
      .card5,
      .card6 {
        display: flex;
        width: auto;
        height: 20rem;
        padding: 1rem;
        border-left: 2px solid #57a5ff24;
        background-size: 200%;
        transition: 0.3s;

        &.card-info.card-info-active {
          -webkit-box-shadow: 0px 25px 40px -20px #00000080;
          -moz-box-shadow: 0px 25px 40px -20px #00000080;
          box-shadow: 0px 25px 40px -20px #00000080;
          border-radius: 1rem;
          transform: translateY(-1rem);
          background-position: right;
          background-image: linear-gradient(
            to right,
            #013168,
            #57a5ff,
            #013168
          );

          .icon {
            animation: bounce-icon 1s infinite alternate;

            @keyframes bounce-icon {
              from {
                transform: translateY(1rem);
              }

              to {
                transform: translateY(-1rem);
              }
            }

            img {
              filter: invert(1);
            }
          }

          .content {
            p {
              color: $branco-neutro;
              user-select: none;
            }

            h3 {
              color: $branco-neutro;
              user-select: none;
            }

            .button {
              color: $preto-primario;
              visibility: visible;
              padding: 4rem 1rem;
              bottom: -11rem;
              z-index: 999;

              i {
                color: $azul-tenerciario;
                transform: translateY(2);
              }
            }
          }
        }

        .icon {
          display: flex;
          padding: 1rem;
          align-items: center;

          img {
            width: 10rem;
            filter: contrast(0.3);
          }
        }

        .content {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          border-left: 1px solid #f5faff26;

          p {
            color: $preto-primario;
          }

          h3 {
            padding-bottom: 1rem;
            color: $preto-primario;
          }

          .button {
            position: absolute;
            bottom: -50px;
            cursor: pointer;
            right: 0;
            color: $preto-primario;
            padding: 3rem 1rem 1rem 13rem;
            visibility: hidden;

            i {
              font-size: 1rem;
            }
          }
        }
      }

      .card7 {
        grid-area: card7;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        height: 10rem;
        padding-top: 5rem;

        #talk-to-us-infos {
          padding: 1.5rem;
          border: none;
          outline: none;
          background-color: $azul-secundario;
          color: $branco-neutro;
          border-radius: 5px;
          cursor: pointer;
        }

        #ill-get-in-touch {
          cursor: pointer;
          padding: 1.5rem;
          outline: none;
          background-color: $branco-neutro;
          color: $preto-primario;
          border-radius: 5px;
          border: 0.5px solid $azul-secundario;
          transition: 0.3s;
          background: none;

          &:hover {
            background-color: $azul-secundario;
            color: $branco-neutro;
            cursor: pointer;
          }
        }
      }
    }
  }

  .servs{
    display: flex;
    position: relative;
    max-width: 130rem;
    gap: 3rem;
    margin: 0 auto;
    padding-bottom: 10rem;


    .tabcontent{
      width: 130rem;
      margin: 0 auto;

      h3{
        cursor: pointer;
        user-select: none;
        text-align: center;
        padding: 2rem;
        font-size: 3rem;
        color: $preto-primario;
        transition: 0.5s;


        &:after{
          content: '';
          width: 0;
          height: 2px;
          position: absolute;
          background-color: #013168;
          left: 50%;
          top: 90%;
          transform: translate(-50%, -50%);

          &:hover{
            width: 100%;
          }
        }

        /* &:after.active{
          background-color: $azul-secundario;
          color: $branco-neutro;
          border-radius: 5px;
          box-shadow: 0px 25px 40px -20px #00000080;
          transform: translateY(-1rem);
        } */
      }

      .tablinks-content{
        display: none;
        max-width: 130rem;
        position: absolute;
        left: 0;

        img{
          width: 50rem;
          margin: 5rem 5rem 5rem 0;
          border-radius: 10px;
          box-shadow: 0px 25px 40px -20px #00000080;
        }

        p{
          padding-top: 5rem;
          color: $preto-primario;
        }

        ul{
          padding-top: 5rem;
          column-count: 2;

          li{
            padding-bottom: 1rem;
            color: $azul-secundario;

            a{
              color: $preto-primario;
              font-weight: 500;
            }
          }
        }

        &.active{
          display: flex;
          align-items: flex-start;
        }

        #talk-to-us-infos {
          padding: 1.5rem;
          border: none;
          outline: none;
          background-color: $azul-secundario;
          color: $branco-neutro;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          padding: 1.5rem 3rem;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        animation: showContainer 2s forwards;

        @keyframes showContainer {
          from{
            opacity: 0;
          }
          to{
            opacity: 1;
          }
        }
      }
    }
  }



  @media (max-width: 1024px) {
    .info-title {
      padding: 0 1rem;

      p {
        font-size: 4rem !important;
      }
    }

    .grid-infos {
      grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7 card7" !important;
      padding: 0 1rem;

      .card1 {
        grid-area: card1;
      }

      .card2 {
        grid-area: card2;
      }

      .card3 {
        grid-area: card3;
      }

      .card4 {
        grid-area: card4;
      }

      .card5 {
        grid-area: card5;
      }

      .card6 {
        grid-area: card6;
      }

      .card7 {
        grid-area: card7;
      }
    }
  }

  @media (max-width: 768px) {
    .info-title {
      padding: 0 1rem;

      p {
        font-size: 3rem !important;
      }
    }

    .grid-infos {
      grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7" !important;
      padding: 0 1rem;

      .card1 {
        grid-area: card1;
      }

      .card2 {
        grid-area: card2;
      }

      .card3 {
        grid-area: card3;
      }

      .card4 {
        grid-area: card4;
      }

      .card5 {
        grid-area: card5;
      }

      .card6 {
        grid-area: card6;
      }

      .card7 {
        grid-area: card7;
      }
    }
  }
}

.pcx-cli {
  @include max-width;
  position: relative;

  .clients-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
      "title card1-client card2-client"
      "title card3-client card4-client";

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $background-color;
      border-radius: 10px;
      transition: 0.5s;

      h1 {
        font-size: 7rem;
        color: $preto-primario;
        user-select: none;
        transition: 0.5s;
      }
      p {
        color: $preto-primario;
        user-select: none;
      }

      &:hover {
        h1 {
          /*           color: $branco-neutro; */
          transform: scale(1.5);
          filter: drop-shadow(0 10px 5px #4e4e4e50);
        }
        transform: scale(0.9);
      }
    }
    .title {
      grid-area: title;
      color: $preto-primario;
      border-radius: 10px;
      padding: 0 20px;
      width: 70rem;

      p {
        font-size: 5rem;
        user-select: none;
      }
      mark {
        color: $azul-secundario;
        background: none;
      }
    }
    .card1-client {
      grid-area: card1-client;
    }
    .card2-client {
      grid-area: card2-client;
    }
    .card3-client {
      grid-area: card3-client;
    }
    .card4-client {
      grid-area: card4-client;
    }
  }

  .clients-text {
    p {
      font-size: 1.6rem;
      padding-top: 5rem;
      color: $preto-primario;
    }
  }

  .slide-client {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
      width: 150px;
      filter: grayscale(1);
      transition: 0.5s;

      &:hover {
        filter: grayscale(0);
        transform: translateY(-1rem);
      }
    }
  }

  .clients-relates {
    border-radius: 10px;

    .content {
      @include max-width;


      p {
        padding: 2rem;
        text-align: right;
        font-size: 5rem;
        color: $preto-primario;

        mark {
          color: $azul-secundario;
          background: none;
        }
      }

      #talk-to-us-infos {
        padding: 1.5rem;
        border: none;
        outline: none;
        background-color: $azul-secundario;
        color: $branco-neutro;
        border-radius: 5px;
        cursor: pointer;
        margin: 5rem 1rem;
        display: flex;
        padding: 1.5rem 3rem;
      }

      .clients-testimorial {
        width: 37rem !important;
        height: 50rem !important;
        background-position: right;
        background-image: linear-gradient(to bottom, #013168, #57a5ff);
        border-radius: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        transition: .5s;
        overflow: hidden;

        &:hover{
          transform: translateY(-1rem);
        }

        .person {
          padding: 1.5rem;
          text-align: center;
          position: relative;

          p{
            text-align: left;
            font-weight: lighter;
            font-size: 16px;
            color: $branco-neutro;
          }

          p,
          h3,
          h4{
            color: $branco-neutro;
          }

          .social{
            position: absolute;
            bottom: 0;
          }

          img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 100%;
            z-index: 99999;
            position: relative;
          }
          &::after{
            font-family: "Font Awesome 5 Free";
            content: "\f121";
            font-size: 47rem;
            position: absolute;
            font-weight: 400;
            top: 62%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99999;
            color: #ffffff0f;
            transition: .5s;
          }
        }

        button{
          width: 38rem;
          height: 5rem;
          background-color: #013168;
          border: none;
          color: #fff;
          position: absolute;
          bottom: 0;

          a{
            color: $branco-neutro;

            i{
              .icon{
                font-size: 5rem;
              }
            }
          }
        }
      }

      .mySwiperTestimorial {
        padding: 10px;
      }
    }
  }

  @media (max-width: 1024px) {
    .clients-grid {
      grid-template-areas:
        "title title"
        "card1-client card2-client"
        "card3-client card4-client";
    }
  }
}
